body {
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
padding: 30px;
flex-direction: column;
background-color: rgb(239, 248, 239);

.title {
    color: orange;
    // margin-left: 50px;
}

.project-button {
    background-color: orange;
    font-size: 15px;
    font-weight: 500; 
    margin-bottom: 5px;
}

.linkdin-button {
    color: blue;
    border-color: blue;
    font-size: 15px;
    font-weight: 500;
}

.personal-image-containter {
    width: 650px;
    height: 580px;
    overflow: hidden;
    
    .personal-image {
        object-fit: cover; 
        object-position: 15% 0;
        width: 100%;
        height: auto;
    }
}

.about-page {
    height: 67.5vh;
    width: 100%;
    background-color: white;
    display: flex;
}
.text-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 20px;
}

.projects-title-container {
    border-bottom: 2px solid orange;
    
}

.projects-title {
    text-align: center; 
    color: black;
    
}

.projects-page {
    height: auto;
    width: 100%;
    background-color: rgb(239, 248, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    height: 325px;
    width: 75%;
    background-color: rgb(239, 248, 239);
    margin: 50px 0;
    border-radius: 20px;
    box-shadow: 15px 15px gray;
    display: flex;
}

.project-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    p {
        padding: 0 25px;
    }
}

.view-project-button {
    font-weight: 600;
    background-color: rgb(239, 248, 239);
    border: 1px solid black;
}

.project-image {
    height: 325px;
    width: 70vw;
    border-radius: 0 20px 20px 0;
}

.about-page {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.10);
    // height: 100%;
}

.about-section {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    // background: rgba(0,0,0,0.10);
    flex-direction: column;
    text-align: center;
    // margin-top: 120px;
    z-index: 2;
    height: 100%;
    width: 300px;
    color: whitesmoke;

    .about-section-text {
        text-shadow: 1px 1px 2px black;
    }
    
}


#coverVideo {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.contact-page {
    height: 100vh;
    width: 100%;
    background-color: blue;
}

}

.main-container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    // border: 5px solid red;
}