.site-header {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: relative;
    
    .main-navigation {
        display: flex;
        width: auto;
        justify-content: center;
        position: relative;
        top: 4rem;
        left: 18rem;
    }

}